// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner
{
  background-image: asset-url("Combi11.jpg");
  color: white;
  padding: 200px 0;
  background-size: cover;
  height: 670px;
  h1
  {
    font-size: 50px;
    color: white;
  }
  p
  {
    font-size: 25px;
    font-weight: 100;
  }
}

.scroll-btn{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: white;
  &:hover{
    color: white;
  }
}

#banner, #description {
  position: relative;
}

#paris {
  background-image: asset-url("Combi6.jpg");
  background-size: cover;
}

#barcelona {
  background-image: asset-url("Combi7.jpg");
  background-size: cover;
}

#lisbon {
  background-image: asset-url("Combi3.jpeg");
  background-size: cover;
}

#chamonix {
  background-image: asset-url("Combi10.jpg");
  background-size: cover;
}

.card {
  height: 300px;
  margin: 10px 10px 10px 10px;
  color: white;
}

#features h2 {
  padding-top: 2em;
}

.text-center {
    text-align: center;
}

.searchbar {
  max-width: 300px;
}

body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #565A5C;
}
