<!-- <h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p> -->
<div class="container">
  <% @flats.each do |flat| %>
  <h1><%= flat.title %></h1>
  <p><%= flat.city %></p>
  <p><%= flat.price %></p>
  <p><%= link_to "show details", flat_path(flat), class: "btn btn-success" %></p>
  <% end %>
</div>
