<h1>Hello! Do you want to look for another city? </h1>

</div>
<div id="searchbar" class="center-block">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag(flats_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Let's go", class: "btn btn-primary"%>
        <% end %>
      <% if @flats.present? %>
        <%= render @flats %>
      <% end %>
    </div>
  </div>
</div>
