<div class="footer footer-wagon">

  <div class="col-xs-6">
  <!-- Facebook buttons -->
    <div id="fb-root">
      <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=186178158084082&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <div class="fb-like" data-href="https://www.facebook.com/lewagonformation" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
 <!-- END Facebook buttons -->

  <div class="col-xs-6">
    <!-- copyright -->
    <p class="text-right">© Copyright Le Wagon Bar</p>
  </div>
</div>
