<body id="body-home">

<div class="padded text-center" id="banner">
  <div class="fade-and-slide">
    <h2>Your ride, your home</h2>
  </div>
  <div id="searchbar" class="center-block">
    <div class="row">
      <div class="col-xs-12">
        <div class="center fade-and-slide">
          <%= form_tag(flats_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Let's go", class: "btn btn-primary"%>
            <% end %>
          <% if @flats.present? %>
            <%= render @flats %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="features">
        <h2 class="text-center">Rent unique station wagons from local hosts in 190+ countries.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
      <div class="card text-center padded" id="paris">
        <h3>Paris</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
      <div class="card text-center padded" id="barcelona">
        <h3>Barcelona</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
      <div class="card text-center padded" id="lisbon">
        <h3>Lisbon</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
      <div class="card text-center padded" id="chamonix">
        <h3>Chamonix</h3>
      </div>
    </div>
  </div>

</div>
