<div class="padded text-center" id="banner">
  <h1>WagonBnb</h1>
</div>

<div id="features">
  <h2 class="text-center">Rent unique station wagons from local hosts in 190+ countries.</h2>
<br>
<%= submit_tag "Search", :name=>nil, :class => "btn btn-success" %>
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="card text-center padded" id="paris">
          <h3>Paris</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="card text-center padded" id="barcelona">
          <h3>Barcelona</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="card text-center padded" id:"lisbon">
          <h3>Lisbon</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="card text-center padded" id="chamonix">
          <h3>Chamonix</h3>
        </div>
      </div>
    </div>
  </div>
</div>