// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bfbfbf;
  margin: 10px 10px 10px 10px;
  padding: 10px 25px 25px 25px;
  max-width:320px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-transparent {
  color: black;
  margin: 10px 10px 10px 10px;
  padding: 10px 25px 25px 25px;
  max-width:320px;
}

// .img-rounded {
//   border-radius: 50%;
// }

.font-check:after {
  content: 'coucou';
  position: absolute;
  height: 50px;
  width: 50px;
  background: red;
}
input[type="submit"] {
    font-family: FontAwesome;


}
